<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
	<style>
	h1 {
		text-align: center;
	}
	
	p {
		text-align: center;
	}
	
	div {
		text-align: center;
	}
	</style>
<title>Tienda Generica - MinTic</title>

</head>
<body>
	<br>
	<br>
	<h1>Bienvenidos a la Tienda Genérica</h1>
	<br>
	<br>
	<div>

		<form action="validador" method="post">
	
			Usuario: <input type="text" name="usuario"><br><br>
			Password: <input type="password" name="password"><br><br> 
			<input type="submit" value="Aceptar">
			<button><a href="/salir">Cancelar</a></button>
		</form>
	</div>
</body>
</html>
