<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
	<style>
	h1 {
		text-align: left;
	}
	
	p {
		text-align: center;
	}
	
	div {
		text-align: left;
	}
	</style>
<title>Tienda Genérica - MinTic</title>

</head>
<body>
	<h1>Modulo Administración de Usuarios</h1>
	<br>
	<br>
	<div>
		<form action="/guardarusuario">
		  <label for="fname">Cédula:</label><br>
		  <input type="text" id="fname" name="fname" value=""><br>
		  
		  <label for="lname">Usuario:</label><br>
		  <input type="text" id="lname" name="lname" value=""><br>
		  
		  <label for="lname">Nombre Completo:</label><br>
		  <input type="text" id="lname" name="lname" value=""><br>
		  
		  <label for="fname">Contraseña:</label><br>
		  <input type="password" id="fname" name="fname" value=""><br>
		  
		  <label for="lname">Correo Electrónico:</label><br>
		  <input type="text" id="lname" name="lname" value=""><br>
		  
		  
		  
		  <br>
		  <br>
		  <input type="submit" value="Agregar">
		</form>

	</div>
</body>
</html>